@model Logistics.WebApp.Models.Shared.OrdersViewModel

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Number</th>
            <th>Location</th>
            <th>Value</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Width</th>
            <th>Is Fragile?</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Orders.Any())
        {
            foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Recipent.Address.Street @order.Recipent.Address.City</td>
                    <td>@order.Value</td>
                    <td>@order.Package.Weight</td>
                    <td>@order.Package.Height</td>
                    <td>@order.Package.Width</td>
                    <td>@order.Package.IsFragile</td>
                    <td>@order.Status</td>
                    <td>@Html.ActionLink("Edit", "OrderEdit", "Courier", new { area = "", orderId = order.Id }, new { @class = "btn btn-primary btn-block" })</td>
                </tr>
            }
        }
    </tbody>
</table>